@media screen and (max-width: 1023px){

	#footer {
		.footerQ {
			width: 50%;
		}

		#copyright {
			text-align: left;

			> div {
				float: none;
			}
		}
	}


	h1.title {
		font-size: 48px;
	    text-transform: uppercase;
	    letter-spacing:  -0.025em;
	    text-shadow: #fff 1px 1px 0px;
	    line-height: 0.85em;
	    border-bottom: none;
		margin-left: 0;

		.red.small {
			font-size: 12vw;
			letter-spacing: -0.075em;
		}
	}



	.hide-mobile {
		display: none !important;
	}

	.hide-desktop {
		display: initial;
	}

	#main {
		.content {
			width: 100%;
			max-width: 960px;
			padding: 0 20px;

			&.paper {
				padding: 10px;
				margin: 0 10px;
				width: auto;
			}
		}

		.leftColumn {
			width: 100%;
		}

		.wrap {
			margin-top: 100px;
		}
	}

	#primary-nav {
		background-color: #fe202b;
		width: 140px;
		position: fixed;
		left: 110%;
		top: 70px;
		bottom: 0;
		margin: 0;
		z-index: 99;

		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		transition: all 0.2s ease;

		li {
			padding: 8px 14px;
		}
	}

	body.hamburger-open {
		#main {
		   left: -140px;
	   }

	   #primary-nav {
	   		left: calc(100% - 140px);
	   	}

		#hamburger-button {
			background-color: #fe202b;
			color: #FFF;
		}
	}

	#primary-nav li {
		list-style-type: none !important;

		a {
			color: #FFF;
		}
	}

	#header {

		#headerRight {
			height: 70px;
		}
		#headerLeft {
			height: 70px;
			width: 100%;

			.content {
				width: 100%;
			}

			#logo {
				margin-top: 16px;
				margin-left: 12px;
				margin-top: 18px;

				h1 {
					font-size: 42px;
					margin-bottom: 0;
					padding-bottom: 2px;
				}

				h2 {
					font-size: 14px;
				}
			}
		}
	}

	.leftColumn .headline {
		margin-bottom: 0px;
	}

	.portfolioWrap {
		width: 100%;

		> p {
			padding-left: 0;
			padding-right: 0;
		}

		.portfolioFrame {
			width: 100%;
			background-image: none;
			border: 2px groove rgba(255, 255, 255, 0.35);
			height: auto;
		}

		.portfolioFrame {
			margin-left: 0 !important;
		}

		.portfolioFrame .content {
			left: initial;
			top: initial;
			width: 100%;
			height: auto;
			padding: 0 !important;
		}

		.portfolioFrame img {
			width: 100%;
		}
	}

}

@media screen and (max-width: 768px) {
	#circles {
		display: none;
	}

	#home-photo {
		float: none;
	}
}

@media screen and (orientation: portrait) and (max-width: 768px) {
	#footer .footerQ {
		width: 100%;
	}
}
